@import url("https://fonts.googleapis.com/css?family=Poppins");
:root {
  --green-900: #0ca554;
  --green-600: #3fbd53;
  --green-500: #51d769;
  --green-400: #69e088;
  --green-300: #8ae0b5;
  --green-200: #b3e8d9;
  --green-100: #dcedf3;
  --green-50: #f0f9f7;
  --green-20: #f6f8f8;

  --white: #fff;
  --f4: #f6f8f8;
  --black: #151515;
  --font: "Poppins";
  --gray: #666;
  --gray-200: #888888;
  --letter-spacing: 0.02em;
  --letter-spacing2: 0.2em;

  --color-text: #616161;
  --color-text-btn: #ffffff;
  --card1-gradient-color1: #f12711;
  --card1-gradient-color2: #f5af19;
  --card2-gradient-color1: #7f00ff;
  --card2-gradient-color2: #e100ff;
  --card3-gradient-color1: #3f2b96;
  --card3-gradient-color2: #a8c0ff;
  --card4-gradient-color1: #11998e;
  --card4-gradient-color2: #38ef7d;

  /* Font Size */
  --h1: 3rem;
  --h2: 2rem;
  --h3: 1.8rem;

  /* Text Size */
  --title-counter: 4rem;
  --text: 1.6rem;
  --paragraph: 1.4rem;

  /* Icons Size */
  --icons: 2rem;
}

html {
  font-size: 62.5%; /*Now 10px = 1rem!*/
}

body {
  font-family: var(--font) !important;
}

.section-title {
  color: var(--black);
  font-size: var(--h1);
  font-weight: bold;
  margin-bottom: 3.2rem;
  font-family: var(--font);
  text-align: center;
  letter-spacing: var(--letter-spacing);
}

.custom-container {
  padding: 6.4rem;
  text-align: center;
}

.section-icon {
  align-self: center;
  font-size: var(--icons);
}

.bi-layers-fill {
  color: var(--green-900);
}

.mini-section-title {
  position: relative;
  display: inline-block;
  font-size: var(--paragraph);
  line-height: 1.6rem;
  color: var(--gray);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
  text-align: center;
}

.content-description {
  font-size: var(--text);
  margin-top: 1.5rem;
  text-align: justify;
  color: var(--black);
  font-family: var(--font);
}

.content-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

.icons {
  font-size: 3rem;
  margin-right: 1rem;
  color: var(--green-900);
  display: flex;
  justify-content: center;
  text-align: center;
}

table {
  font-size: var(--paragraph);
}

.form-check {
  font-size: var(--paragraph);
  text-align: left;
}

.filter-title {
  font-size: var(--paragraph);
  font-weight: bold;
  text-align: left;
  margin-top: 2rem
}